<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplikacija 2</title>
</head>
<body>

    <nav>
        <ul>
            
            <li><a href="/">Početna</a></li>
            <li><a href="/onama">O nama</a></li>
            <li><a href="/usluge">Usluge</a></li>

        </ul>
    </nav>

    <h1>O nama</h1>

    <p>Mi smo 2.b razred</p>
    <p>Idemo u sgdmp</p>
    <p>Dobro došli na naše web stranice!</p>
    
</body>
</html>